<!-- views/urls_show.ejs -->
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href=".././styles.css" />
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <h3>Short URL: http://localhost:8080/u/<%= shortURL %> </h3>
    <table>
    <% for(var item in urls) { %>
    <%  if(item === shortURL) { %>
      <tr>
        <td>  <form method="POST" action="<%= `/urls/${item}/update` %>" >
              <input type=text name="updatedUrl" id="updatedUrl" value=<%= urls[item].url %> >
        </td>
        <td>
        <button type="submit">Update URL</button>
        </form>
        </td>
        <td><p>Created on: <%= urls[item].date %></p></td>
        <td><p>This URL accessed <%= urls[item].count %> times</p></td>
      </tr>
    <% } %>
    <% } %>
    </table>
  </body>
</html>