<!-- views/urls_index.ejs -->
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
<% include ./partials/_header %>
</header>
  <table>
    <% for(var item in urls) { %>
      <tr>
        <td><%= item %></td>
        <td> <a href=<%= urls[item] %> target=_blank > <%= urls[item] %> </td>
        <td> <a href=<%= `/urls/${item}` %> > Edit </a> </td>
      <td> <form method="POST" action=<%= `/urls/${item}/delete` %> >
      <button type="submit">DELETE</button>
    </form></td>
      <tr>
      <% } %>
  </table>
  <p><button><a href='/urls/new'>Submit URL for shortening</button></a>
</body>
</html>
